doctype html
html
	head
		script(src='bundle.js')

		//- === The Console === -//
		script(src='https://code.jquery.com/jquery-3.1.1.min.js', integrity='sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=', crossorigin='anonymous')

		link(rel='stylesheet', href='/style/game.css')

		script(src='/script/terminal.js')
		script(src='/script/menu.js')

		script.
				var resizeMethod = function (event) {
				console.log("test")
				var dims = [
				event.currentTarget.innerWidth,
				event.currentTarget.innerHeight
				];
				var rW = dims[0] / 16.0;
				var rH = dims[1] /  9.0;
				var canvas = document.getElementById('tester');
				// Lame square screen
				if (rH > rW) {
				var newH = rW *  9.0;
				var half = newH / 2;
				canvas.style.top    = (dims[1]*0.5 - half)+'px';
				canvas.style.left   = 0;
				canvas.style.height = newH+'px';
				canvas.style.width  = '100%';
				}
				// Wider screen
				else {
				var newW = rH * 16.0;
				var half = newW / 2;
				canvas.style.top    = 0;
				canvas.style.left   = (dims[0]*0.5 - half)+'px';
				canvas.style.height = '100%';
				canvas.style.width  = newW+'px';
				}
				}
				window.addEventListener('resize', function (event) {
				resizeMethod(event);
				}, true);
				function main () {
					resizeMethod({currentTarget:window});
				}

	body(onload='main()')
		canvas#tester.main_canvas(width=1600,height=900)
		#menu.main_menu
			.screen(data-name='game_select',style='display:block')
				.header
					.title Join a Game
					.options
						button.option.refresh Refresh
						button.option.sw(data-screen='game_create') Create Server
				form.form(data-name='player_guest')
					.entry(data-name='playername')
						.label Player Name
						input(name='name', autocomplete="off",
						placeholder='Type a name here')
				.title Server List
				.servers
					.thead
						.field Server Name
						.field Map
						.field Players
					.tbody
						| Waiting for server data...
			.screen(data-name='game_create')
				.header
					.title Start a Game
					.options
						button.option.sw(data-screen='game_select') Cancel
				form.form(data-name='game_create_form')
					input(type='hidden',name='action',value='create')
					.entry
						.label Game
						input(name='name', autocomplete="off")
					.entry
						.label Map
						input(name='mapname', autocomplete="off")
				.actions
					button.action.submit(data-form='game_create_form') Start Game
		#term.main_terminal
			.contents
				| Say hello!
				| Note: nobody will see your message until the open chat. (that's gonna be fixed soon)
				= "\n"
			.input(contenteditable=true)
